body {
  background-color: #1E201E;
  color: #fff;
}


/* COLORES DE TEXTO */
.text-color div {
  background-color: wheat;
  width: 200px;
  height: 200px;
}

.text-color h2 {
  color: greenyellow;
  color: rgb(255, 17, 35);
  color: hsl(120, 100%, 50%);
  color: #ff15a3;
  border: 2px solid black;
}

/* ALINEACION DE TEXTO */

.text-align {
  justify-self: center;
}

.text-align div {
  width: 500px;
  height: 200px;
  border: 2px solid black;
  background-color: wheat;
  color: black;
}

.text-align h2 {
  /* Alineacion con respecto a su contenedor padre (div) */
  text-align: justify;
  text-align: left;
  text-align: start;
  text-align: end;
  text-align: right;
  text-align: center;
}

/* DECORACION DE TEXTO */
.text-decoration {
  justify-self: center;
  background-color: wheat;
  color: black;
}

.text-decoration div {
  width: 150px;
  height: 100px;
  border: 2px solid black;
  margin-top: 20px;
  padding: 10px;
  background-color: wheat;
  color: black;
  justify-self: center;
}

.text-decoration .Underline {
  text-decoration-line: underline;
  text-decoration-color: cyan;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

.text-decoration .Overline {
  text-decoration-line: overline;
  text-decoration-color: red;
  text-decoration-style: double;
}

.text-decoration .Line-through {
  text-decoration-line: line-through;
  text-decoration-color: green;
  text-decoration-style: dotted;
}

.text-decoration .None {
  text-decoration-line: overline;
  text-decoration-line: none;
}

.text-decoration .mixed {
  text-decoration-line: underline overline line-through;
  text-decoration-color: red;
  text-decoration-style: wavy;
}

.text-decoration .shorthand {
  /* text-decoration: line style color thickness */
  text-decoration: underline solid magenta 5px;
}

/* TRANSFORMACION DE TEXTO */
.text-transform {
  margin-top: 20px;
  background-color: wheat;
  width: 500px;
  color: black;
}

.text-transform div {
  width: 200px;
  height: 70px;
  border: 2px solid black;
  padding: 10px;
  background-color: wheat;
  color: black;
}

.text-transform .uppercase {
  text-transform: uppercase;
}

.text-transform .lowercase {
  text-transform: lowercase;
}

.text-transform .capitalize {
  text-transform: capitalize;
}

/* ESPACIADO DE TEXTO */
.text-spacing {
  margin-top: 20px;
}

.text-spacing div {
  width: 500px;
  height: auto;
  border: 2px solid black;
  padding: 10px;
  background-color: wheat;
  color: black;
}

.text-spacing p {
  text-indent: 50px;
  /* Indentacion de la primera linea */
  letter-spacing: 2px;
  /* Espaciado entre letras */
  line-height: 1.5;
  /* Espaciado entre lineas */
  word-spacing: 7px;
  /* Espaciado entre palabras */
  white-space: wrap;
  /* Wrap: las palabras se ajustan al contenedor. Nowrap: las palabras no se ajustan al contenedor. */
}

/* SOMBRA DE TEXTO */
.text-shadow {
  margin-top: 20px;
}

.text-shadow div {
  width: 500px;
  height: auto;
  border: 2px solid black;
  padding: 10px;
  background-color: wheat;
  color: black;
}

.text-shadow p {
  text-indent: 50px;
  letter-spacing: 2px;
  line-height: 1.5;
  word-spacing: 7px;

  /* Horizontal, vertical, blur, color */
  /* H: positivo-derecha negativo-izquierda */
  /* V: positivo-abajo negativo-arriba */
  text-shadow: 2px -2px 2px rgb(83, 76, 76);
}

/* FUENTES */
.fonts {
  margin-top: 20px;
  background-color: wheat;
  color: black;
}

.fonts h4 {
  font-size: 50px;
  /* font-style: italic; */
  /* font-weight: bold; */
  font-variant: small-caps;
  /* Mayusculas pequeñas */
}

.fonts .serif {
  font-family: 'Times New Roman', Times, serif;
}

.fonts .sans-serif {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fonts .monospace {
  font-family: 'Courier New', Courier, monospace;
}

.fonts .cursiva {
  font-family: "lucida handwriting", cursive;
}

.fonts .fantasy {
  font-family: "Comic Sans MS", Impact, fantasy;
}

.fonts .shorthand {
  /* font: style varian weight size line-height family */
  font: italic small-caps bold 30px "Times New Roman", Times, serif;
}

/* FUENTES TERCEROS */

.more-fonts {
  margin-top: 20px;
}

.more-fonts div {
  width: 500px;
  height: auto;
  border: 2px solid black;
  padding: 10px;
  background-color: wheat;
  color: black;
}

.more-fonts p {
  font-family: 'Roboto';
}

/* ESTILOS DE LISTAS */
.lists {
  margin-top: 20px;
  border: 2px solid black;
  padding: 10px;
  background-color: wheat;
  color: black;
}

.lists .unordered {
  /* list-style-type: circle disc square  !unordered list */
  list-style-type: circle;
}

.lists .ordered {
  /* list-style-type: armenian decimal decimal-leading-zero georgian lower-alpha lower-latin lower-greek lower-roman upper-alpha upper-latin upper-roman */
  list-style-type: decimal;
}

.lists .image {
  list-style-position: inside;
  /* inside: la imagen se coloca dentro del contenedor de la lista. outside: la imagen se coloca fuera del contenedor de la lista.*/
  list-style-image: url("../assets/images/gatico.png");
}

.lists .none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.table {
  margin-top: 20px;
  border: 2px solid black;
  padding: 10px;
  background-color: wheat;
  color: black;
}

.table table,
.table th,
.table td {
  border: 1px solid black;
}

.table table {
  border-collapse: collapse;
  width: 80%;
  margin: 10px;
}

.table tr:nth-child(even) {
  background-color: #b4b0b0;
}

.table tr:hover {
  background-color: #807c7c;
}

.table td:hover{
  background-color: #443a3a;
}

.table th,
.table td {
  padding: 15px;
  text-align: center;
}

.table th {
  background-color: #4CAF50;
  height: 50px;
}

/* .table td {
  height: 50px;
  vertical-align: bottom; /* Alineacion vertical
} */